.CMS_NavBar_Container > div:nth-child(2) > img {
  width: 18%;
  padding: 1% 0;
}

.CMS_NavBar_Container {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  padding: 0 2%;
  z-index: 1;
  align-items: center;
}
.cmsPlayGroundContainer {
  background-color: #efefef;
  height: 89vh;
  width: 79.5vw;
  border-radius: 8px;
  padding: 2%;
}
.NotificationContainer {
  background-color: white;
  border-radius: 8px;
  padding: 2%;
  height: 82vh;
}
.NotificationContainer > :nth-child(2) {
  color: var(--Grey);
}
.NotificationContainer > :nth-child(2) > * > *:hover {
  cursor: pointer;
}

.check {
  color: black;
}
.disableMouse {
  cursor: not-allowed;
}

.notificationFlexBoxContainer {
  background-color: #efefef;
  height: 80vh;
  border-radius: 8px;
  overflow: auto;
}
.notificationsFlexBox {
  border-bottom: 1px solid var(--Grey);
  height: 17%;
}
.notificationsFlexBox > * {
  padding: 12px;
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.IconHeightWidth {
  height: 70%;
  width: 70%;
}

.TextInputWidth {
  width: 70%;
}

.CMS_CreatePosts_Container{
  display: flex;
  flex-direction: column;
}

.Posts-InnerRow{
  margin: 1.1rem 0 1.1rem 0;
}

.Posts-InnerRowQuill{
  margin: 1.1rem 0 1.1rem 0;
  height: 100%;
}

.custom-quill {
  border: 1px solid #CACACA;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
}

.quill .ql-container{
  height: 20vh;
}

.ql-editor {
  font-family: 'Roboto', sans-serif; /* Replace with your desired font */
  font-size: 16px; /* Replace with your desired font size */
}

.upload__image-wrapper{
  display: flex;
  justify-content: flex-end;
  flex-direction:row ;
}

.imagefileupload_container{
  display: flex;
  flex-direction: row;
}

.fileinput_container{
min-height: 20vh;
}

.mobileresCMS{
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0; 
  right: 0;
  height: 100%;
  width: 100%;
  margin-top: 1rem;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
  color: var(--Red);
}



.image-itemUpload {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 10px;

}

.image-itemUpload img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  margin: 0 10px 0 10px;
  border: 1px solid #CACACA;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
  border-radius: 0.5rem;
}

.image-itemUpload__btn-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 93%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}


.file_upload_error{
  color: red;

}

.Dashboard_Row{
  margin: 50px;
}

.Dashboard_Container{
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}