.CMS_NavBar_Container > div:nth-child(2) > img {
  width: 18%;
  padding: 1% 0;
}

.CMS_NavBar_Container {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  padding: 0 2%;
  z-index: 1;
  align-items: center;
}
.cmsPlayGroundContainer {
  background-color: #efefef;
  height: 89vh;
  width: 79.5vw;
  border-radius: 8px;
  padding: 2%;
}
.NotificationContainer {
  background-color: white;
  border-radius: 8px;
  padding: 2%;
  height: 82vh;
}
.NotificationContainer > :nth-child(2) {
  color: var(--Grey);
}
.NotificationContainer > :nth-child(2) > * > *:hover {
  cursor: pointer;
}

.check {
  color: black;
}
.disableMouse {
  cursor: not-allowed;
}

.notificationFlexBoxContainer {
  background-color: #efefef;
  height: 90%;
  border-radius: 8px;
}
.notificationsFlexBox {
  border-bottom: 1px solid var(--Grey);
}
.notificationsFlexBox > * {
  padding: 12px;
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.IconHeightWidth{
  height: 70%;
  width: 70%;
}

.TextInputWidth{
  width: 70%;
}