.CMS_NavBar_Container > div:nth-child(2) > img {
  width: 18%;
  padding: 1% 0;
}

.CMS_NavBar_Container {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  padding: 0 2%;
  z-index: 1;
  align-items: center;
}
.cmsPlayGroundContainer {
  background-color: #efefef;
  height: 89vh;
  width: 79.5vw;
  border-radius: 8px;
}
