.HomeBlobImage {
  position: absolute;
  top: 0;
  z-index: -99;
  width: 65dvw;
}

.HomeLogoBG {
  position: absolute;
  z-index: -100;
  margin-top: 5%;
  right: 0;
  width: 45dvw;
}

.HeroSection_Container {
  height: 80vh;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.HeroSection_Container > div {
  display: flex;
  gap: 10%;
}

.HomePageNavBar_Container {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 12px 12px 0px #00000040;
  position: sticky;
  top: 0;
  padding: min(0.5rem, 1%) min(0.5rem, 2%);
  z-index: 1;
}

.HomePageNavBar_Container > div {
  opacity: 1;
}

.HomePageNavBar_Container > div:nth-child(1) {
  display: flex;
  align-items: center;
  width: 40%;
}

.HomePageNavBar_Container > div:nth-child(1) > img {
  width: 12%;
  padding: 1% 0;
}

.HomePageNavBar_Container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 60%;
  gap: 10px;
}

.HomePageNavBar_Container > div:nth-child(2) > div {
  display: flex;
  gap: 80px;
}

/* QuickAccess_Section */

.QuickAccess_Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0 0 5%;
}

.QuickAccess_Header {
  margin: 2% 0;
}

/* Mission and Vision Section */

.MissionVision_Section {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  position: relative;
  padding-top: 5%;
  margin-top: 5%;
}

.MissionVision_Container {
  width: 65%;
  position: relative;
  padding-bottom: 10%;
}

.MissionVision_Container > div > div {
  width: 65%;
}

.MissionVision_Container > div:nth-child(2) > div {
  text-align: end;
  margin-left: auto;
}

.MissionVision_Container > div > div > p {
  margin: 4% 0;
}

.MissionVision_Container > div:nth-child(2) > img {
  position: absolute;
  right: 0;
}

.MissionVision_Section > div:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 12%;
  width: 15%;
}
.MissionVision_Section > div:nth-child(2) > img {
  margin: 0 8%;
}

/* News & Announcement */

.NewsNAnnouncement_Section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NewsNAnnouncement_Header {
  margin: 2% 0;
}

.HomePageFooter_Container {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  height: 300px;
  margin-top: 5%;
  align-items: center;
  grid-auto-flow: row;
  background-color: var(--Red);
  color: white;
  padding: 2%;
  grid-template-areas:
    "Logo Name . . ."
    ". Visit Links Links Links"
    ". Visit copyright copyright copyright";
}

.Links {
  grid-area: Links;
  padding-left: 10%;
  font-size: 1.3rem;
  color: var(--Yellow);
  text-decoration: underline;
}

.copyright {
  grid-area: copyright;
  font-size: 1.3rem;
  text-align: center;
}

.Visit {
  grid-area: Visit;
  font-size: 1.1rem;
  width: 65%;
}

.Name {
  grid-area: Name;
  font-size: 1.2rem;
}

.Logo {
  grid-area: Logo;
}

.exploreAffix {
  position: absolute;
  bottom: 5%;
  left: 50%;
}
.HomePage_HoverCard {
  display: flex;
  flex-direction: column;
}

.HomePage_HoverCard > * {
  border-bottom: 1px solid var(--Yellow);
  color: var(--Grey);
  margin-bottom: 8px;
  padding: 4px;
  width: 100%;
}

.HomePage_HoverCard_Container {
  background-color: #fefefe;
  border-bottom: 4px solid var(--Red);
}
.HoverYellow:hover {
  color: var(--Yellow);
  cursor: pointer;
}

.makeUnderlineHover {
  display: inline-block;
  position: relative;
}
.makeUnderlineHover::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--Yellow);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.makeUnderlineHover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
