/*add-ons classes*/
.makeHoverable:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.15s;
}
.mousePointer:hover {
  cursor: pointer;
}

.UserProfile_Container > div:nth-child(2) {
  margin: auto 0;
  text-align: left;
}

.UserProfile_Container > div:nth-child(2) > span:nth-child(1) {
  font-weight: 700;
}

.UserProfileImage {
  display: block;
  margin: 0 auto;
}

/* Style the radio input */
.Radio_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333; /* Border color for unchecked state */
  border-radius: 50%;
  outline: none;
  /* Reduce the size of the inner circle (dot) */
  background-clip: content-box;
  padding: 4px;
}

/* Style the custom radio button when checked */
input[type="radio"]:checked {
  border-color: var(--Yellow); /* Change the border color for checked state */
  background-color: var(--Yellow);
  padding: 2px;
}

label {
  display: inline;
  vertical-align: top;
}

/*Short Card*/
.ShortCard_Container {
  border-radius: 8px;
  width: max-content;
}
.ShortCard_Container:not(:nth-child(3n + 1)):not(:nth-child(3n)) {
  border: 4px solid var(--Red);
}

.ShortCard_Container:nth-child(3n + 1),
.ShortCard_Container:nth-child(3n) {
  border: 4px solid var(--Blue);
}
.LongCard_Container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 8px;

  text-align: left;
  width: 100%;
  border-radius: 8px;
}

/*Long Card*/

.LongCard_BottomRow {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  color: #7f7f7f;
}

.LongCard_BottomRow > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 8px;
}

/*Text Boxes*/
.textBoxWithHint_Container {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 20%; /* Dynamic width */
  font-size: 0.9rem;
}

.textBoxWithHint_Container > div:nth-child(2) {
  width: 70%;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  padding: 0 3%;
}

.textBoxWithHint_Container > div:nth-child(1),
.textBoxWithHint_Container > div:nth-child(3) {
  width: 15%;
}

.textBoxWithHint_Container > div > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.exitBtn_Container {
  text-align: center;
}

.exitBtn_Container > p {
  font-size: 0.9rem;
  color: var(--Yellow);
  font-weight: 600;
}

/*Animations*/

/*Standard CSS*/

.Grey {
  color: var(--Grey);
}

.Blue {
  color: var(--Blue);
}
.Red {
  color: var(--Red);
}
.Yellow {
  color: var(--Yellow);
}

.fontSize_SubHead {
  font-size: 0.9rem;
}

.LightBlue {
  color: #4088ff;
}

.ContentMaxWidth {
  width: 80%;
}
.responsive_H1 {
  font-size: max(min(2rem, 4vw), 2vw);
}

.responsive_H2 {
  font-size: clamp(1.5rem, 2.5vw, 1.8rem);
}

.responsive_H3 {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.responsive_H4 {
  font-size: clamp(0.9rem, 1.8vw, 1.2rem);
}

.responsive_P {
  font-size: max(min(0.8rem, 1.8vw), 1rem);
}
.bold {
  font-weight: bold;
}
