@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; */

  --Red: #701114;
  --Yellow: #cca000;
  --Blue: #032968;
  --RedRGBA: 112, 17, 20;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.HomeBlobImage {
  position: absolute;
  top: 0;
  z-index: -99;
}

.HomeLogoBG {
  position: absolute;
  z-index: -98;
  right: 0;
}

.HeroSection_Container {
  height: 80vh;
  width: 50%;
  padding: 13%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.HeroSection_Container > h1 {
  font-size: 3rem;
}

.HeroSection_Container > div {
  display: flex;
  gap: 10%;
}
