@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; */

  --Red: #701114;
  --Yellow: #cca000;
  --Blue: #032968;
  --RedRGBA: 112, 17, 20;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.Main_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
